In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, TimeoutException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.options import Options
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup
import requests

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = 
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
        
A) Rank 

B) Name

C) Artist 

D) Upload date 

E) Views

In [2]:
driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
rank = []
rn = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rn[:30]:
    z = i.text
    rank.append(z)

In [6]:
len(rank)

30

In [7]:
name = []
nm = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in nm[:30]:
    z = i.text
    name.append(z)

In [9]:
len(name)

30

In [10]:
artist = []
ar = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in ar[:30]:
    z = i.text
    artist.append(z)

In [12]:
len(artist)

30

In [15]:
ud = []
UD = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in UD[:30]:
    z = i.text
    ud.append(z)

In [16]:
len(ud)

30

In [17]:
views = []
vw = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in vw[:30]:
    z = i.text
    views.append(z)

In [19]:
len(views)

30

In [20]:
df = pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':ud,'Views in billions':views})
df

,Rank,Name,Artist,Upload Date,Views in billions
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.29
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.25
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.78
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.38
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.07
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.01
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.53
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.47
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.02
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.96
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.88
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.43
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.04
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.86
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.86
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.76
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.71
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.70
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.67
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.65
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.58
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.54
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.53
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.50
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.47
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.45
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

# 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Match title (I.e. 1 ODI)

B) Series

C) Place

D) Date 

E) Time 

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [21]:
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [22]:
search = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search.click()

In [23]:
title = []
tt = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]') 
for i in tt:
    z = i.text
    title.append(z)

In [25]:
title = [s.replace('-','') for s in title]

In [27]:
len(title)

38

In [28]:
series = []
sr = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]') 
for i in sr:
    z = i.text
    series.append(z)

In [30]:
len(series)

38

In [47]:
place = []
pl = driver.find_elements(By.XPATH,'//div[@ class="match-place ng-scope"]') 
for i in pl:
    z = i.text
    place.append(z)

In [51]:
venues = [item.split(' - ', 1)[1] for item in place]
len(venues)

38

In [52]:
date = []
dt = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]') 
for i in dt:
    z = i.text
    date.append(z)

In [54]:
len(date)

38

In [55]:
time = []
tm = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]') 
for i in tm:
    z = i.text
    time.append(z)

In [57]:
len(time)

38

In [59]:
df = pd.DataFrame({'Match Title':title,'Series':series,'Place':venues,'Dates':date,'Time':time},index = range(1,39))
df

,Match Title,Series,Place,Dates,Time
1,5th ODI,ASIA CUP 2023,"R Premadasa International Stadium, Colombo",15 SEP 2023,3:00 PM IST
2,1st T20I,19TH ASIAN GAMES 2023,"Pingfeng Cricket Field, Hangzhou",21 SEP 2023,6:30 AM IST
3,1st ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...",22 SEP 2023,1:30 PM IST
4,2nd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",24 SEP 2023,1:30 PM IST
5,3rd ODI,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",27 SEP 2023,1:30 PM IST
6,1st ODI,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Barsapara Cricket Stadium, Guwahati",30 SEP 2023,2:00 PM IST
7,1st T20I,19TH ASIAN GAMES 2023,"Pingfeng Cricket Field, Hangzhou",3 OCT 2023,6:30 AM IST
8,2nd ODI,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Greenfield International Stadium, Thiruvananth...",3 OCT 2023,2:00 PM IST
9,1st ODI,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai",8 OCT 2023,2:00 PM IST
10,2nd ODI,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi",11 OCT 2023,2:00 PM IST
11,3rd ODI,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad",14 OCT 2023,2:00 PM IST
12,4th ODI,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune",19 OCT 2023,2:00 PM IST
13,5th ODI,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...",22 OCT 2023,2:00 PM IST
14,6th ODI,ICC MENS WORLD CUP 2023,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,29 OCT 2023,2:00 PM IST
15,7th ODI,ICC MENS WORLD CUP 2023,"Wankhede Stadium, Mumbai",2 NOV 2023,2:00 PM IST
16,8th ODI,ICC MENS WORLD CUP 2023,"Eden Gardens, Kolkata",5 NOV 2023,2:00 PM IST
17,9th ODI,ICC MENS WORLD CUP 2023,"M Chinnaswamy Stadium, Bengaluru",12 NOV 2023,2:00 PM IST
18,1st T20I,AUSTRALIA TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,23 NOV 2023,7:00 PM IST
19,2nd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium, Thiruvananth...",26 NOV 2023,7:00 PM IST
20,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium, Guwahati",28 NOV 2023,7:00 PM IST
21,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Vidarbha Cricket Association Stadium, Nagpur",1 DEC 2023,7:00 PM IST
22,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",3 DEC 2023,7:00 PM IST
23,1st T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban",10 DEC 2023,9:30 PM IST
24,2nd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",12 DEC 2023,9:30 PM IST
25,3rd T20I,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium, Johannesburg",14 DEC 2023,9:30 PM IST
26,1st ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,17 DEC 2023,2:00 PM IST
27,2nd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha",19 DEC 2023,2:00 PM IST
28,3rd ODI,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park, Paarl",21 DEC 2023,2:00 PM IST
29,1st Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion",26 DEC 2023,1:30 PM IST
30,2nd Test,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town",3 JAN 2024,1:30 PM IST
31,1st T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...",11 JAN 2024,7:00 PM IST
32,2nd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore",14 JAN 2024,7:00 PM IST
33,3rd T20I,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru",17 JAN 2024,7:00 PM IST
34,1st Test,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad",25 JAN 2024,9:30 AM IST
35,2nd Test,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,2 FEB 2024,9:30 AM IST
36,3rd Test,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot",15 FEB 2024,9:30 AM IST
37,4th Test,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi",23 FEB 2024,9:30 AM IST
38,5th Test,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...",7 MAR 2024,9:30 AM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details: 
    
A)Rank 

B) State 

C) GSDP(18-19)- at current prices 

D) GSDP(19-20)- at current prices 

E) Share(18-19)

F) GDP($ billion) 

Note: - From statisticstimes home page you have to reach to economy page through code.

In [66]:
driver = webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [68]:
search = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
search.click()
button = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
button.click() 
nb= driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
nb.click()

In [69]:
rank = []
rn = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in rn[:33]:
    z = i.text
    rank.append(z)

In [71]:
len(rank)

33

In [72]:
state = []
st = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in st[:33]:
    z = i.text
    state.append(z)

In [74]:
len(state)

33

In [75]:
gs_1819 =[]
gs = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in gs[:33]:
    z = i.text
    gs_1819.append(z)

In [77]:
len(gs_1819)

33

In [78]:
gs_1920 =[]
gsd = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in gsd[:33]:
    z = i.text
    gs_1920.append(z)

In [80]:
len(gs_1920)

33

In [81]:
share =[]
sh = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in sh[:33]:
    z = i.text
    share.append(z)

In [83]:
len(share)

33

In [84]:
gdp =[]
gd = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in gd[:33]:
    z = i.text
    gdp.append(z)

In [86]:
len(gdp)

33

In [87]:
df = pd.DataFrame({'Rank':rank,'State':state,' GSDP(18-19)- at current prices ':gs_1819,' GSDP(19-20)- at current prices':gs_1920,' Share(18-19)':share,' GDP($ billion)':gdp},index = range(1,34))
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
1,1,Maharashtra,"2,632,792",-,13.94%,399.921
2,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
3,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
4,4,Gujarat,"1,502,899",-,7.96%,228.290
5,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
6,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
7,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
8,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
9,9,Telangana,"861,031","969,604",4.56%,130.791
10,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
11,11,Kerala,"781,653",-,4.14%,118.733
12,12,Delhi,"774,870","856,112",4.10%,117.703
13,13,Haryana,"734,163","831,610",3.89%,111.519
14,14,Bihar,"530,363","611,804",2.81%,80.562
15,15,Punjab,"526,376","574,760",2.79%,79.957
16,16,Odisha,"487,805","521,275",2.58%,74.098
17,17,Assam,"315,881",-,1.67%,47.982
18,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
19,19,Jharkhand,"297,204","328,598",1.57%,45.145
20,20,Uttarakhand,"245,895",-,1.30%,37.351
21,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
22,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
23,23,Goa,"73,170","80,449",0.39%,11.115
24,24,Tripura,"49,845","55,984",0.26%,7.571
25,25,Chandigarh,"42,114",-,0.22%,6.397
26,26,Puducherry,"34,433","38,253",0.18%,5.230
27,27,Meghalaya,"33,481","36,572",0.18%,5.086
28,28,Sikkim,"28,723","32,496",0.15%,4.363
29,29,Manipur,"27,870","31,790",0.15%,4.233
30,30,Nagaland,"27,283",-,0.14%,4.144
31,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
32,32,Mizoram,"22,287","26,503",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com. 

Url = https://github.com/
    
You have to find the following details: 
    
A) Repository title 

B) Repository description 

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [2]:
driver = webdriver.Chrome()
driver.get('https://github.com/')

In [3]:
designation = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[1]/div/div[2]/input")
designation.send_keys('Trending')

In [4]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[2]/ul/li/ul/li/span")
search.click()

In [55]:
title = []
tt = driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 qaOIC search-match"]') 
for i in tt:
    z = i.text
    title.append(z)

In [56]:
title

['iam-abbas/Reddit-Stock-Trends',
 'vitalets/github-trending-repos',
 'GeneralMills/pytrends',
 'QasimWani/LeetHub',
 'mbadry1/Trending-Deep-Learning',
 'datawrangling/trendingtopics',
 'd3/d3',
 'bonfy/github-trending',
 'huchenme/github-trending-api',
 'mitchelljy/Trending-YouTube-Scraper']

In [57]:
rep_title = [item.split('/',1)[1] for item in title]

In [58]:
len(rep_title)

10

In [59]:
rep_des = []
rd = driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 kWPXhV search-match"]') 
for i in rd:
    z = i.text
    rep_des.append(z)

In [60]:
len(rep_des)

10

In [5]:
url= []
link = driver.find_elements(By.XPATH,'//a[@ class="Link__StyledLink-sc-14289xe-0 fIqerb"]')
for i in link:
    url.append(i.get_attribute('href'))

In [6]:
len(url)

10

In [21]:
cont_count = []
for x in url:
    driver.get(x)
    for i in range(5):
        driver.execute_script('window.scrollBy(0,100)')
        time.sleep(5)
    try:
        cc = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        cont_count.append(cc.text)
    except NoSuchElementException:
        cont_count.append('-')

In [24]:
len(cont_count)

10

In [52]:
lang = []
try:
    ln = driver.find_elements(By.XPATH,'//li[@ class="Box-sc-g0xbh4-0 gVaQzD"]')
    for i in ln[::3]:
        z = i.text
        lang.append(z)
except NoSuchElementException:
    lang.append('-')

In [54]:
len(lang)

10

In [61]:
df = pd.DataFrame({'Repository Title':rep_title,'Repository Description':rep_des,' Contributors Count ':cont_count,'Language Used':lang},index = range(1,11))
df

,Repository Title,Repository Description,Contributors Count,Language Used
1,Reddit-Stock-Trends,Fetch currently trending stocks on Reddit,-,Python
2,github-trending-repos,Track GitHub trending repositories in your fav...,-,HTML
3,pytrends,Pseudo API for Google Trends,75,Python
4,LeetHub,Automatically sync your leetcode solutions to ...,-,JavaScript
5,Trending-Deep-Learning,Top 100 trending deep learning repositories so...,-,Python
6,trendingtopics,Rails app for tracking trends in server logs -...,-,Ruby
7,d3,"Bring data to life with SVG, Canvas and HTML. ...",-,Shell
8,github-trending,"Tracking the most popular Github repos, update...",4,Python
9,github-trending-api,The missing APIs for GitHub trending projects ...,67,JavaScript
10,Trending-YouTube-Scraper,Python script that scrapes the currently trend...,-,Python

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

You have to find the following details: 
    
A) Song name 

B) Artist name 

C) Last week rank 

D) Peak rank 

E) Weeks on board 

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver = webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [6]:
charts = driver.find_element(By.XPATH,"/html/body/div[3]/footer/div[4]/div/div/div[2]/div[3]/div/nav[3]/ul/li[1]/a")
charts.click()
h_100 = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
h_100.click()

In [22]:
title_1 = []
time.sleep(5)
tt_1 = driver.find_element(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]') 
title_1.append(tt_1.text)

In [23]:
title_1

['Paint The Town Red']

In [36]:
title_2 = []
time.sleep(5)
tt_2 = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in tt_2:
    z = i.text
    title_2.append(z)

In [37]:
title_2

['I Remember Everything',
 'Fast Car',
 'Cruel Summer',
 'Last Night',
 'Dance The Night',
 'Snooze',
 'Fukumean',
 'Vampire',
 'Calm Down',
 'Rich Men North Of Richmond',
 'Barbie World',
 'Flowers',
 'All My Life',
 'Religiously',
 'Used To Be Young',
 'Hey Driver',
 'Need A Favor',
 "Thinkin' Bout Me",
 'Anti-Hero',
 'Kill Bill',
 'What Was I Made For?',
 'Last Time I Saw You',
 'Karma',
 "Creepin'",
 'Bad Idea Right?',
 'Meltdown',
 'Dial Drunk',
 'Tourniquet',
 'Try That In A Small Town',
 'Qlona',
 'Love You Anyway',
 'Watermelon Moonshine',
 'I Know ?',
 'Spotless',
 'Bury Me In Georgia',
 'Seven',
 'Margaritaville',
 'Single Soon',
 'East Side Of Sorrow',
 'What It Is (Block Boy)',
 'Daylight',
 'Mi Ex Tenia Razon',
 'LaLa',
 'Cupid',
 'Demons',
 'Lady Gaga',
 "Fear And Friday's",
 'El Dorado',
 'Telekinesis',
 'Peaches & Eggplants',
 'Ticking',
 "Summertime's Close",
 'FE!N',
 'Overtime',
 'Come See Me',
 'White Horse',
 'Good Good',
 'Truck Bed',
 'Deli',
 'Que Onda',
 'Standing Room Only',
 'Smaller Acts',
 'Everything I Love',
 'In Your Love',
 'Popular',
 'SkeeYee',
 'Put It On Da Floor Again',
 'Holy Roller',
 'Sabor Fresa',
 'Tulum',
 'Where She Goes',
 "Angels Don't Always Have Wings",
 'K-POP',
 'Johnny Dang',
 'Oh U Went',
 'Dawns',
 "Jake's Piano - Long Island",
 'Save Me',
 'Oklahoma Smoke Show',
 'Lose Control',
 'Tradesman',
 'Shake Sumn',
 'Keep Going Up!',
 'Area Codes',
 "Sittin' On Top Of The World",
 'Pretty Little Poison',
 'Oklahoman Son',
 'TQM',
 'See You Again',
 'Amargura',
 'Girl In Mine',
 'El Amor de Su Vida',
 'Summer Too Hot',
 'Rubicon',
 'Stand By Me',
 'Call Your Friends',
 'Your Heart Or Mine',
 'Primera Cita',
 'S91']

In [38]:
song_name = title_2.copy()

In [40]:
song_name.insert(0, title_1[0])

In [42]:
len(song_name)

100

In [44]:
art_1 = []
time.sleep(5)
at_1 = driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]') 
art_1.append(at_1.text)

In [45]:
art_1

['Doja Cat']

In [46]:
art_2 = []
time.sleep(5)
at_2 = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in at_2:
    z = i.text
    art_2.append(z)

In [48]:
len(art_2)

99

In [49]:
artist_name = art_2.copy()
artist_name.insert(0, art_1[0])
artist_name

['Doja Cat',
 'Zach Bryan Featuring Kacey Musgraves',
 'Luke Combs',
 'Taylor Swift',
 'Morgan Wallen',
 'Dua Lipa',
 'SZA',
 'Gunna',
 'Olivia Rodrigo',
 'Rema & Selena Gomez',
 'Oliver Anthony Music',
 'Nicki Minaj & Ice Spice With Aqua',
 'Miley Cyrus',
 'Lil Durk Featuring J. Cole',
 'Bailey Zimmerman',
 'Miley Cyrus',
 'Zach Bryan Featuring The War And Treaty',
 'Jelly Roll',
 'Morgan Wallen',
 'Taylor Swift',
 'SZA',
 'Billie Eilish',
 'Nicki Minaj',
 'Taylor Swift Featuring Ice Spice',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Olivia Rodrigo',
 'Travis Scott Featuring Drake',
 'Noah Kahan With Post Malone',
 'Zach Bryan',
 'Jason Aldean',
 'Karol G & Peso Pluma',
 'Luke Combs',
 'Lainey Wilson',
 'Travis Scott',
 'Zach Bryan Featuring The Lumineers',
 'Kane Brown',
 'Jung Kook Featuring Latto',
 'Jimmy Buffett',
 'Selena Gomez',
 'Zach Bryan',
 'Doechii Featuring Kodak Black',
 'David Kushner',
 'Karol G',
 'Myke Towers',
 'Fifty Fifty',
 'Doja Cat',
 'Peso Pluma, Gabito Ballesteros & Junior H',
 'Zach Bryan',
 'Zach Bryan',
 'Travis Scott Featuring SZA & Future',
 'Young Nudy Featuring 21 Savage',
 'Zach Bryan',
 'Zach Bryan',
 'Travis Scott Featuring Playboi Carti',
 'Zach Bryan',
 'Rod Wave',
 'Chris Stapleton',
 'Usher, Summer Walker & 21 Savage',
 'HARDY',
 'Ice Spice',
 'Calle 24 x Chino Pacas x Fuerza Regida',
 'Tim McGraw',
 'Zach Bryan',
 'Morgan Wallen',
 'Tyler Childers',
 'The Weeknd, Playboi Carti & Madonna',
 'Sexyy Red',
 'Latto Featuring Cardi B',
 'Zach Bryan Featuring Sierra Ferrell',
 'Fuerza Regida',
 'Peso Pluma & Grupo Frontera',
 'Bad Bunny',
 'Thomas Rhett',
 'Travis Scott, Bad Bunny & The Weeknd',
 'That Mexican OT, Paul Wall & DRODi',
 'Young Thug Featuring Drake',
 'Zach Bryan Featuring Maggie Rogers',
 'Zach Bryan',
 'Jelly Roll With Lainey Wilson',
 'Zach Bryan',
 'Teddy Swims',
 'Zach Bryan',
 'DaBaby',
 'Timbaland, Nelly Furtado & Justin Timberlake',
 'Kaliii',
 'Burna Boy',
 'Warren Zeiders',
 'Zach Bryan',
 'Fuerza Regida',
 'Tyler, The Creator Featuring Kali Uchis',
 'Karol G',
 'Parmalee',
 'Grupo Frontera & Grupo Firme',
 'Chris Brown',
 'Peso Pluma',
 'Lil Durk Featuring Morgan Wallen',
 'Rod Wave',
 'Jon Pardi',
 'Carin Leon',
 'Karol G']

In [50]:
len(artist_name)

100

In [51]:
lwr_1 = []
time.sleep(5)
lw_1 = driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')
for i in lw_1:
    z = i.text
    lwr_1.append(z)

In [52]:
lwr_1

['3']

In [69]:
lwr_2 = []
time.sleep(5)
lw_2 = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in lw_2[::6]:
    z = i.text
    lwr_2.append(z)

In [71]:
len(lwr_2)

99

In [72]:
last_week_rank = lwr_2.copy()
last_week_rank.insert(0, lwr_1[0])
last_week_rank

['3',
 '1',
 '2',
 '5',
 '4',
 '9',
 '7',
 '10',
 '12',
 '11',
 '6',
 '13',
 '15',
 '16',
 '21',
 '8',
 '14',
 '26',
 '34',
 '32',
 '27',
 '30',
 '-',
 '25',
 '33',
 '35',
 '36',
 '42',
 '20',
 '45',
 '43',
 '40',
 '46',
 '49',
 '17',
 '51',
 '28',
 '-',
 '19',
 '18',
 '53',
 '52',
 '50',
 '54',
 '48',
 '-',
 '56',
 '24',
 '31',
 '55',
 '59',
 '29',
 '23',
 '58',
 '22',
 '-',
 '63',
 '65',
 '68',
 '64',
 '-',
 '62',
 '38',
 '73',
 '83',
 '71',
 '-',
 '60',
 '37',
 '74',
 '70',
 '66',
 '77',
 '67',
 '75',
 '81',
 '76',
 '41',
 '84',
 '88',
 '82',
 '44',
 '78',
 '-',
 '79',
 '80',
 '92',
 '47',
 '91',
 '87',
 '90',
 '99',
 '-',
 '96',
 '100',
 '93',
 '85',
 '72',
 '97',
 '86']

In [73]:
len(last_week_rank)

100

In [74]:
pr_1 = []
time.sleep(5)
p_1 = driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span')
for i in p_1:
    z = i.text
    pr_1.append(z)

In [75]:
pr_1

['1']

In [86]:
pr_2 = []
time.sleep(5)
p_2 = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in p_2[1::6]:
    z = i.text
    pr_2.append(z)

In [88]:
len(pr_2)

99

In [89]:
peak_rank = pr_2.copy()
peak_rank.insert(0, pr_1[0])
len(peak_rank)

100

In [90]:
wob_1 = []
time.sleep(5)
w_1 = driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span')
for i in w_1:
    z = i.text
    wob_1.append(z)
wob_1

['5']

In [92]:
wob_2 = []
time.sleep(5)
w_2 = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in w_2[2::6]:
    z = i.text
    wob_2.append(z)
wob_2

['2',
 '24',
 '18',
 '32',
 '15',
 '39',
 '12',
 '10',
 '53',
 '4',
 '11',
 '34',
 '17',
 '18',
 '2',
 '2',
 '23',
 '27',
 '46',
 '39',
 '8',
 '1',
 '26',
 '40',
 '4',
 '6',
 '12',
 '2',
 '8',
 '4',
 '30',
 '11',
 '6',
 '2',
 '17',
 '8',
 '23',
 '2',
 '2',
 '18',
 '21',
 '4',
 '9',
 '25',
 '1',
 '11',
 '2',
 '2',
 '6',
 '14',
 '2',
 '2',
 '6',
 '2',
 '1',
 '7',
 '4',
 '12',
 '7',
 '1',
 '3',
 '2',
 '28',
 '6',
 '14',
 '1',
 '14',
 '2',
 '11',
 '10',
 '16',
 '7',
 '7',
 '8',
 '11',
 '19',
 '2',
 '12',
 '7',
 '4',
 '2',
 '16',
 '1',
 '18',
 '2',
 '4',
 '2',
 '16',
 '20',
 '4',
 '6',
 '3',
 '3',
 '10',
 '15',
 '3',
 '17',
 '2',
 '6']

In [93]:
weeks_on_board = wob_2.copy()
weeks_on_board.insert(0, wob_1[0])
len(weeks_on_board)

100

In [94]:
df = pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':last_week_rank,'Peak Rank':peak_rank,'Weeks on Board':weeks_on_board},index = range(1,101))
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
1,Paint The Town Red,Doja Cat,3,1,5
2,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,1,1,2
3,Fast Car,Luke Combs,2,2,24
4,Cruel Summer,Taylor Swift,5,3,18
5,Last Night,Morgan Wallen,4,1,32
...,...,...,...,...,...
96,Stand By Me,Lil Durk Featuring Morgan Wallen,93,22,15
97,Call Your Friends,Rod Wave,85,26,3
98,Your Heart Or Mine,Jon Pardi,72,47,17
99,Primera Cita,Carin Leon,97,97,2
100,S91,Karol G,86,45,6

# 6. URl = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare 

You have to find the following details
Scrape the details of Highest selling novels. 
compare 

A) Book name 

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [2]:
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [3]:
book_name = []
bn = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in bn:
    z = i.text
    book_name.append(z)

In [5]:
len(book_name)

100

In [6]:
author_name = []
an = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in an:
    z = i.text
    author_name.append(z)

In [8]:
len(author_name)

100

In [9]:
volumes_sold = []
vs = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vs:
    z = i.text
    volumes_sold.append(z)

In [11]:
len(volumes_sold)

100

In [12]:
publisher = []
ps = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in ps:
    z = i.text
    publisher.append(z)

In [14]:
len(publisher)

100

In [15]:
genre = []
gn = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gn:
    z = i.text
    genre.append(z)

In [17]:
len(genre)

100

In [18]:
df = pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre},index = range(1,101))
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ You 
have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings 

F) Votes

In [19]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [24]:
name = []
nm = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in nm:
    z = i.text
    name.append(z)

In [26]:
len(name)

100

In [27]:
year_span = []
ys = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in ys:
    z = i.text
    year_span.append(z)

In [29]:
len(year_span)

100

In [30]:
genre = []
gr = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in gr:
    z = i.text
    genre.append(z)

In [33]:
len(genre)

100

In [34]:
run_time = []
rt = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in rt:
    z = i.text
    run_time.append(z)

In [36]:
len(run_time)

100

In [37]:
ratings = []
rs = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
for i in rs:
    z = i.text
    ratings.append(z)

In [39]:
ratings = [s.replace('\nRate','') for s in ratings]

In [41]:
len(ratings)

100

In [42]:
votes = []
vs = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
for i in vs:
    z = i.text
    votes.append(z)

In [44]:
len(votes)

100

In [45]:
df = pd.DataFrame({'Name':name,'Year Span':year_span,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes},index = range(1,101))
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,203,066"
2,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,274,880"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,045,361"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,229"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,338"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.5,"52,701"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,751"
98,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,950"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,879"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"265,714"

# 8. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name 

B) Data type 

C) Task 

D) Attribute type 

E) No of instances 

F) No of attribute

G) Year 

Note: - from the home page you have to go to the Show All Dataset page through code.

In [46]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [47]:
charts = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
charts.click()

In [48]:
dataset_name = []
dn = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in dn:
    z = i.text
    dataset_name.append(z)

In [50]:
len(dataset_name)

25

In [57]:
datatype = []
dt = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
for i in dt:
    z = i.text
    datatype.append(z)

In [59]:
len(datatype)

25

In [60]:
task = []
ts = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
for i in ts:
    z = i.text
    task.append(z)

In [62]:
len(task)

25

In [63]:
no_of_inst = []
ni = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
for i in ni:
    z = i.text
    no_of_inst.append(z)

In [65]:
len(no_of_inst)

25

In [66]:
no_of_attri = []
na = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
for i in na:
    z = i.text
    no_of_attri.append(z)

In [68]:
len(no_of_attri)

25

In [69]:
url = []
link = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in link:
    url.append(i.get_attribute('href'))

In [71]:
len(url)

25

In [78]:
attribute_type = []
for x in url:
    driver.get(x)
    time.sleep(2)
    try:
        att = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        attribute_type.append(att.text) 
    except NoSuchElementException:
        attribute_type.append('-')

In [80]:
len(attribute_type)

25

In [83]:
year = []
for x in url:
    driver.get(x)
    time.sleep(2)
    try:
        yr = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        year.append(yr.text)
    except NoSuchElementException:
        year.append('-')

In [85]:
len(year)

25

In [86]:
df = pd.DataFrame({'Dataset Name':dataset_name,'Data Type':datatype,'Task':task,'Attribute Type':attribute_type,'No. of Instances':no_of_inst,'No.of Attribute':no_of_attri,'Year':year},index = range(1,26))
df

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No.of Attribute,Year
1,Iris,Tabular,Classification,Real,150 Instances,4 Features,Donated on 6/30/1988
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,Donated on 6/30/1988
3,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,Donated on 4/30/1996
4,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,Donated on 9/13/2020
5,Diabetes,,,"Categorical, Integer",,20 Features,-
6,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,Donated on 6/30/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,Donated on 10/31/1995
8,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,Donated on 5/31/1997
9,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Features,Donated on 10/5/2019
10,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features,Donated on 4/26/1987
11,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4.18K Instances,8 Features,Donated on 11/30/1995
12,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,Donated on 10/6/2009
13,Breast Cancer,Multivariate,Classification,Categorical,286 Instances,9 Features,Donated on 7/10/1988
14,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1K Instances,20 Features,Donated on 11/16/1994
15,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,Donated on 2/13/2012
16,Census Income,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,Donated on 4/30/1996
17,Glass Identification,Multivariate,Classification,Real,214 Instances,9 Features,Donated on 8/31/1987
18,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699 Instances,9 Features,Donated on 7/14/1992
19,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205 Instances,25 Features,Donated on 5/18/1987
20,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398 Instances,7 Features,Donated on 7/6/1993
21,Thyroid Disease,"Multivariate, Domain-Theory",Classification,"Categorical, Real",7.2K Instances,5 Features,Donated on 12/31/1986
22,Spambase,Multivariate,Classification,"Integer, Real",4.6K Instances,57 Features,Donated on 6/30/1999
23,Predict students' dropout and academic success,Tabular,Classification,-,4.42K Instances,36 Features,Donated on 12/12/2021
24,Student Performance,Multivariate,"Classification, Regression",Integer,649 Instances,33 Features,Donated on 11/26/2014
25,Credit Approval,Multivariate,Classification,"Categorical, Integer, Real",690 Instances,15 Features,-